.ng-invalid.ng-dirty {
    border-color: red;
}
.ng-valid.ng-dirty {
    border-color: green;
}
.ng-pristine.ng-invalid {
    border-color: transparent;
}

.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 120%;
}

.row {
    border:5px;
}